/*It should start at a width of 25px and grow to 475px.  It should also start with an opacity of 0 and end with an opacity of 1*/

@keyframes logo_animation {
    0% {
        width: 25px; 
        opacity: 0;
    }
    100% {
        width: 475px; 
        opacity: 1;
    }
}

/*The animation should take 5 seconds and only happen when the page is loaded*/
#logo {
    animation: logoAnimation 5s forwards;
}

/*Edit the body element to use the Poppins font (using Google fonts) with serif as a backup.  
It should also use the image “concrete_seamless.png” as a background-image with a backup color of #f1f1f1.*/
body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* Edit the css for the header tag (all instances) to use flex to match our example.*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

